html {
  font-size: 70%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #1c1c1c;
  font-family: Arial, sans-serif;
}

.calculator {
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: black;
  padding: 20px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 100px;
  border: none;
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
}

button {
  height: 70px;
  border-radius: 50%;
  border: none;
  background-color: #333333;
  font-size: 3.2rem;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

.operator {
  background-color: #ff9500;
  color: white;
}

.operator:hover {
  background-color: #ffb143;
}

.all-clear {
  background-color: #a5a5a5;
  color: black;
}

.all-clear:hover {
  background-color: #c4c4c4;
}

.equal-sign {
  background-color: #ff9500;
  color: white;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #ffb143;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  padding: 20px 0;
}
